.justify_center {
    justify-content: center !important;
}

.nav_textM {
    font-family: Bona Nova;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;

    height: 10%;
}
.Eina01-Regular{
    font-family: Eina01-Regular !important;
}
.UnderLine1 {
    border-bottom: 2px solid #ECECEC !important;
    font-family: Eina01-Regular !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    letter-spacing: 0.0em !important;
    text-align: left !important;
}

.UnderLine2 {
    border-bottom: 2px solid #FFFFFF !important;
}

body {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    background-color: #F2F2F2;

}

.text-sky {
    color: #2BA6FF !important;
    line-height: 1;
}

.bg-sky {
    background-color: #2BA6FF !important;
    line-height: 1;
}

.text-across {
    text-decoration-line: line-through
}

small {
    font-family: Bona Nova !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 10px !important;
    letter-spacing: 0.0em !important;
    text-align: left !important;
}

.min_ {
    min-height: 3em;
}

/* p {
    font-family: Eina01-Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;

} */

h1,h2,h3,h4,h5 {
    font-family: Bona Nova !important;
    text-align: left !important;

}
h1{
    font-size: 48px !important;
}
h2{
    font-size: 32px !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.w-30{
    width: 35%;
}
.w-40{
    width: 40%;
}
@media (min-width: 480px) {
    .container {
        max-width: 420px !important;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 560px !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 680px !important;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 760px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px !important;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1200px !important;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1200px !important;
    }
}

.Test_div1 {
    font-family: Eina01-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    top: 0;
}

.Test_div2 {
    font-family: Eina03-Regular;
    font-size: 32px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
   
}

.Test_div3 {
    font-family: Eina01-SemiBold;
    font-size: 32px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

.text_black {
    padding-left: 0px;
    color: #000;
}

.w-80 {
    width: 80%;
}

@media (min-width: 768px) {
    .col-md {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
    }

    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .col-md-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-md-first {
        order: -1;
    }

    .order-md-last {
        order: 13;
    }

    .order-md-0 {
        order: 0;
    }

    .order-md-1 {
        order: 1;
    }

    .order-md-2 {
        order: 2;
    }

    .order-md-3 {
        order: 3;
    }

    .order-md-4 {
        order: 4;
    }

    .order-md-5 {
        order: 5;
    }

    .order-md-6 {
        order: 6;
    }

    .order-md-7 {
        order: 7;
    }

    .order-md-8 {
        order: 8;
    }

    .order-md-9 {
        order: 9;
    }

    .order-md-10 {
        order: 10;
    }

    .order-md-11 {
        order: 11;
    }

    .order-md-12 {
        order: 12;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 8.33333%;
    }

    .offset-md-2 {
        margin-left: 16.66667%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.33333%;
    }

    .offset-md-5 {
        margin-left: 41.66667%;
    }

    .offset-md-6 {
        margin-left: 50%;
    }

    .offset-md-7 {
        margin-left: 58.33333%;
    }

    .offset-md-8 {
        margin-left: 66.66667%;
    }

    .offset-md-9 {
        margin-left: 75%;
    }

    .offset-md-10 {
        margin-left: 83.33333%;
    }

    .offset-md-11 {
        margin-left: 91.66667%;
    }
}



/* ???  pay */

/* CheckoutForm.css */
.checkout-form-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .card-form, .other-form {
    margin-bottom: 20px;
  }
  
  .card-element {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .pay-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .payment-success {
    margin-top: 20px;
    padding: 20px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
  }
  
  .card-element {
    padding: 20px;
    color: #000;
  }

  .card-element input {
    color: #000;
    font-size: 5em !important;
  }